class <%= class_name %> < Granite::Base
  include Cerberus::Model

  adapter <%= @database %>
  <%= "table_name #{table_name}" %>

  primary id : Int64
  <% @fields.reject{|f| f.hidden }.each do |field| -%>
    field <%= field.name %> : <%= field.cr_type %>
  <% end -%>
  <% if @database != "sqlite" -%>
    timestamps
  <% end -%>

  cerberus :database_authenticatable, :database
end
